parameters:
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - '#Class GeneratedNodeSources\\NS([a-zA-Z]+) not found#'
        - '#Call to method ([a-zA-Z]+)\(\) on an unknown class GeneratedNodeSources\\NS([a-zA-Z]+)#'
        - '#Call to an undefined method ([^:]+)\:\:get(?:External|Internal)Link(?:Sources)?\(\)#'
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository\:\:findOneByApiKey\(\)#'
        - '#NodesSources\|null but returns GeneratedNodeSources\\NS(?:[a-zA-Z]+)#'
        - '#GeneratedNodeSources\\NS(?:[a-zA-Z]+)#'
        - '#Call to an undefined method RZ\\Roadiz\\Core\\AbstractEntities\\LeafInterface#'
        - '#Doctrine\\Persistence\\ObjectRepository#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
